# binary generated in the project root:
jwt
# Don't ignore the folder src/jwt
!src/jwt/
jwt.exe
bin/
dist/
htmldocs/
tests/test_decode
tests/test_encode
tests/test_decode.exe
tests/test_encode.exe
tests/test_decode.dSYM
tests/test_encode.dSYM
tokens/out
